<div class="card" style="width: 18rem;" [style.opacity]="opacity">
  <img src="{{pet.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Race: {{pet.race}}</li>
    <li class="list-group-item">amount of sex: over {{pet.sex}}
      <button class="btn btn-primary" (click)="more()">+</button></li>
    <li class="list-group-item">Age: {{pet.age}}</li>
    <li class="list-group-item"><app-opacidad (opacityChange)="onOpacityChange($event)"></app-opacidad> </li>
  </ul>
</div>
